<%- include('./partials/header.ejs') %>

<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <%- include('./partials/sidebar.ejs', {page_name : 'skill'}) %>
        </div>

        <div class="col-sm-10">
            <!-- main content -->
            <div class="container mt-5">
                <div class="text-warning mb-5 border-bottom">SKILLS</div>
                <div class="row text-white">
                    <div class="col-sm-5">
                        <div class="mt-5">HTML/CSS</div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar"
                                style="width:100%" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">100%</div>
                            ></div>
                        </div>
                    </div>
                </div>

                <div class="row text-white">
                    <div class="col-sm-5">
                        <div class="mt-5">HTML/CSS</div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar"
                                style="width:100%" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">100%</div>
                            ></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs') %>
