<%- include('./partials/header.ejs', {title : 'Home Page'}) %>
<%- include('./partials/navbar.ejs', {title : 'Home Page'}) %> 


<div class="container">
    <div class="row mt-5">
        <h1>Home page</h1>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, excepturi. Non magnam, magni porro voluptates numquam quae recusandae dolore accusantium impedit rerum distinctio, saepe ex necessitatibus unde odio vero consectetur!
            Corrupti temporibus iusto dolorum voluptas autem voluptate sed, delectus pariatur unde laudantium omnis dolores, error dolorem quidem. Numquam minima expedita dicta ipsum. Distinctio minus impedit unde delectus, in mollitia illo.
            Ad molestiae, quasi, necessitatibus tenetur rem fuga deleniti vero est laudantium consectetur ipsam. Laborum excepturi praesentium, cumque necessitatibus deserunt ab accusantium voluptates velit, error quia ducimus cupiditate placeat eveniet libero?
        </p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>